#login-register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
}

#login-register-form .forms{
    width: 500px;
    height: 500px;
    background-color: #d1e8ff;
    padding-left: 10px;
    margin: 5px;
    text-align: center;
}

.otp-form{
    margin-top: 10px;
}

.forms .form-control-text{
    width: 80%;
    padding: 10px 0;
    padding-left: 5px;
}

.forms .form-control-button{
    width: 80%;
    background-color: #55ae50;
    color: #fff;
    cursor: pointer;
    padding: 10px 0;
    border: none;
}